* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0; /* Light Gray */
}

.header {
    height: 70px;
    width: 100%;
    background-color: #4a90e2; /* Dodger Blue */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.cart {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    width: 80px;
}

.fa-solid {
    color: #4a90e2;
}

.cart p {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #4a90e2;
    color: white;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#root {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar {
    width: 40%;
    border-radius: 5px;
    background-color: #fff; /* White */
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head {
    background-color: #4a90e2; /* Dodger Blue */
    border-radius: 3px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #4a90e2; /* Dodger Blue */
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}

.img-box {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2 {
    font-size: 20px;
    color: #333;
}

button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #4a90e2; /* Dodger Blue */
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e4689; /* Darker Dodger Blue */
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 0;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #4a90e2; /* Dodger Blue */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover {
    cursor: pointer;
    color: #333;
}
